@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoBold;
    src: url(fonts/Lato-Bold.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Pacifico');

/*PAGE STRUCTURE*/
body, html {
    height: 100%;
    margin: 0;
    color: #f7f7f7;
    font-family: Lato;
}

#row-position{
    margin-top: 20%;
}

#background-image{
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/newspaper_edited01.png");
    height: 100%;
}

.upper-title{
    font-family: LatoBold; 
    font-size: 60px;
    width:100%;
    text-align: center;
    text-transform: uppercase;
}

#sentimentalWordInput {
  background-image: url('../img/searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  color: black;
}

#sentimentalWordInput:focus {
    box-shadow: 0 0 2px 3px #ddd; 
}

#loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

#loadingModal {
    overflow: hidden;   
}

/*CIRCLE DIAGRAM*/
.circliful .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 19.8;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    -moz-transform: rotate(-89deg) translateX(-190px);
}

.circliful .inner {
    fill: transparent;
    stroke: orange;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    -moz-transform: rotate(-89deg) translateX(-190px);
    stroke-dashoffset: 0;
}

.circliful {
    overflow: visible !important;

}

.svg-container {
    width: 25%;
    height: 50%;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

svg .icon {
    font-family: FontAwesome;
}

.legend-line {
    white-space: nowrap;
}

.color-box {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    display: inline-block;
    float: left;
    padding-top: 3px;
    margin: 2px 5px 0 0;
}

text.timer{
    text-shadow: 1px 1px black;
    font-weight: bold;
}